*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    max-width: 1024;
    min-width: 375;
    width: 100vw;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Creepster', cursive;
}

img{
    display: none;
}